# macOS
.DS_Store

# Xcode
build/
DerivedData/

# Workspace settings
*.xcworkspace
!default.xcworkspace

# User settings
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# Archives
*.xcarchive

# Logs
*.log

# Environment / secrets
.env
